@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewData["Title"] = "Home Page";
}
@section body {
   <div class="container" style="height=80vh">
            <main role="main" class="pb-3">

                <div class="row">

                <div class="col" >
                    <div class="card" style="width: 18rem;">
                        <img src="~/img/pizza1.jpg" class="card-img-top" alt="..." style="height=150px!important">
                        <div class="card-body">
                            <h5 class="card-title">Pizza al pomodoro</h5>
                            <h5>Descrizione</h5>
                            <p class="card-text">Pizza al pomodoro ....</p>
                            <h5>Prezzo</h5>
                            <p class="card-text mt-2"> 5.00 €.</p>

                        </div>
                    </div>
                </div>
                <div class="col" style="height=250px">
                    <div class="card" style="width: 18rem;">
                        <img src="~/img/pizza2.jpg" class="card-img-top" alt="..." style="height=150px!important">
                        <div class="card-body">
                            <h5 class="card-title">Filetto al basilico</h5>
                            <h5>Descrizione</h5>
                            <p class="card-text">Pizza con pomodorini e basilico</p>
                            <h5>Prezzo</h5>
                            <p class="card-text mt-2"> 6.50 €.</p>

                        </div>
                    </div>
                </div>
                 <div class="col" style="height=250px">
                    <div class="card" style="width: 18rem;">
                        <img src="~/img/pizza3.jpg" class="card-img-top" alt="..." style="height=250px!important">
                        <div class="card-body">
                            <h5 class="card-title">Pizza al salame</h5>
                            <h5>Descrizione</h5>
                            <p class="card-text">Pizza fette di salame piccanti </p>
                            <h5>Prezzo</h5>
                            <p class="card-text mt-2"> 6.00 €.</p>

                        </div>
                    </div>
                </div>

                 <div class="col" >
                    <div class="card" style="width: 18rem;">
                        <img src="~/img/pizza1.jpg" class="card-img-top" alt="..." style="height=150px!important">
                        <div class="card-body">
                            <h5 class="card-title">Pizza al pomodoro</h5>
                            <h5>Descrizione</h5>
                            <p class="card-text">Pizza al pomodoro ....</p>
                            <h5>Prezzo</h5>
                            <p class="card-text mt-2"> 5.00 €.</p>

                        </div>
                    </div>
                </div>
                <div class="col" style="height=250px">
                    <div class="card" style="width: 18rem;">
                        <img src="~/img/pizza2.jpg" class="card-img-top" alt="..." style="height=150px!important">
                        <div class="card-body">
                            <h5 class="card-title">Filetto al basilico</h5>
                            <h5>Descrizione</h5>
                            <p class="card-text">Pizza con pomodorini e basilico</p>
                            <h5>Prezzo</h5>
                            <p class="card-text mt-2"> 6.50 €.</p>

                        </div>
                    </div>
                </div>
                 <div class="col" style="height=250px">
                    <div class="card" style="width: 18rem;">
                        <img src="~/img/pizza3.jpg" class="card-img-top" alt="..." style="height=250px!important">
                        <div class="card-body">
                            <h5 class="card-title">Pizza al salame</h5>
                            <h5>Descrizione</h5>
                            <p class="card-text">Pizza fette di salame piccanti </p>
                            <h5>Prezzo</h5>
                            <p class="card-text mt-2"> 6.00 €.</p>

                        </div>
                    </div>
                </div>
                   

                   
                    

                </div>
                
            </main>
        </div>
}


@section prova {
    
    
    <ul>
        <li><a href="...">Ordina</a></li>
        <li><a href="...">Carello</a></li>
        <li><a href="...">Contattaci</a></li>

        
    </ul>


}
