@{  Layout = null;
    ViewData["Title"] = "Home Page";
}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - la_mia_pizzeria_static</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/la_mia_pizzeria_static.styles.css" asp-append-version="true" />

</head>
<body>

    <header class="navbar navbar-light bg-white border-bottom box-shadow mb-3">

                <h1 class="mb-3">Scegli la tua pizza : </h1>
    </header>
    
         <div class="container" style="height=80vh">
            <main role="main" class="pb-3">

                <div class="row">

                <div class="col" >
                    <div class="card" style="width: 18rem;">
                        <img src="~/img/pizza1.jpg" class="card-img-top" alt="..." style="height=150px!important">
                        <div class="card-body">
                            <h5 class="card-title">Pizza al pomodoro</h5>
                            <h5>Descrizione</h5>
                            <p class="card-text">Pizza al pomodoro ....</p>
                            <h5>Prezzo</h5>
                            <p class="card-text mt-2"> 5.00 €.</p>

                        </div>
                    </div>
                </div>
                <div class="col" style="height=250px">
                    <div class="card" style="width: 18rem;">
                        <img src="~/img/pizza2.jpg" class="card-img-top" alt="..." style="height=150px!important">
                        <div class="card-body">
                            <h5 class="card-title">Filetto al basilico</h5>
                            <h5>Descrizione</h5>
                            <p class="card-text">Pizza con pomodorini e basilico</p>
                            <h5>Prezzo</h5>
                            <p class="card-text mt-2"> 6.50 €.</p>

                        </div>
                    </div>
                </div>
                 <div class="col" style="height=250px">
                    <div class="card" style="width: 18rem;">
                        <img src="~/img/pizza3.jpg" class="card-img-top" alt="..." style="height=250px!important">
                        <div class="card-body">
                            <h5 class="card-title">Pizza al salame</h5>
                            <h5>Descrizione</h5>
                            <p class="card-text">Pizza fette di salame piccanti </p>
                            <h5>Prezzo</h5>
                            <p class="card-text mt-2"> 6.00 €.</p>

                        </div>
                    </div>
                </div>

                 <div class="col" >
                    <div class="card" style="width: 18rem;">
                        <img src="~/img/pizza1.jpg" class="card-img-top" alt="..." style="height=150px!important">
                        <div class="card-body">
                            <h5 class="card-title">Pizza al pomodoro</h5>
                            <h5>Descrizione</h5>
                            <p class="card-text">Pizza al pomodoro ....</p>
                            <h5>Prezzo</h5>
                            <p class="card-text mt-2"> 5.00 €.</p>

                        </div>
                    </div>
                </div>
                <div class="col" style="height=250px">
                    <div class="card" style="width: 18rem;">
                        <img src="~/img/pizza2.jpg" class="card-img-top" alt="..." style="height=150px!important">
                        <div class="card-body">
                            <h5 class="card-title">Filetto al basilico</h5>
                            <h5>Descrizione</h5>
                            <p class="card-text">Pizza con pomodorini e basilico</p>
                            <h5>Prezzo</h5>
                            <p class="card-text mt-2"> 6.50 €.</p>

                        </div>
                    </div>
                </div>
                 <div class="col" style="height=250px">
                    <div class="card" style="width: 18rem;">
                        <img src="~/img/pizza3.jpg" class="card-img-top" alt="..." style="height=250px!important">
                        <div class="card-body">
                            <h5 class="card-title">Pizza al salame</h5>
                            <h5>Descrizione</h5>
                            <p class="card-text">Pizza fette di salame piccanti </p>
                            <h5>Prezzo</h5>
                            <p class="card-text mt-2"> 6.00 €.</p>

                        </div>
                    </div>
                </div>
                   

                   
                    

                </div>
                
            </main>
        </div>


    

    <footer class="border-top footer bg-dark text-muted">

        <div class="container">
            <h4 class="text-white text-start ">Code by Vinc-78</h4>
        </div>
    </footer>
    

</body>

</html>